*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;  
}

.sign-up{
    display: flex;
}


.left-section{
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.leftBck{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftBck > img{
    height: 10vh;
}

.odinLogo{
    font-family: "Caesar Dressing", system-ui;
    color: white;
    font-size: 5.4vw;
    font-weight: 400;
    font-style: normal;
}

.left-section{
    width: 30%;
    background-image: url(images/sea_background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: 15%;


}





.right-section{
    background-color: rgb(242, 242, 242);
     width: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}   


.header{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 50px;
    gap: 20px;
}

.header > h3 {
    text-wrap: wrap;
}

.paraText{
    padding-left: 50px;  
}


.mainDiv{
    height: 35vh;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 8px 20px 6px rgba(171, 170, 170, 0.97);
}


.sign-up{
    display: flex;
    padding-top: 30px;
   
}

.signDivs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
}

.signDivs > div{
    display: flex;
    flex-direction: column;
}

label {
   
    font-size: .8vw;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}
input {
    height: 30px;
    width: 230px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.footer{
    padding-left: 50px;
    padding-top: 40px;
    height: 20vh;
  
}

.createBtn{
    color: aliceblue;
    font-size: 1.5vw;
    padding: 10px 20px;
    background-color: #00666b;
    border: 0;
    border-radius: 10px;
}


.footer > p{
    padding-top: 20px;
}

.logA{
    color: #00666b;
    font-weight: 700;
    text-decoration: none;
}






input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}